.menubar-wrapper{
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    position: absolute;
   	color: transparent;
    top: 10px;
    right: 1px;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
    display: block;
	padding:3px 6px;
}

.buttonbar {
    filter: blur(0px);
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    white-space: nowrap;
    font-size: 30px;
    top: 330px;
	color: rgb(130, 130, 131);
	text-shadow: 6px 6px 6px black;
    text-decoration: none;
	display: block;
	text-transform: uppercase;
    text-align: right;
    margin-top: 20px;
	letter-spacing: 10px;
}
    
.buttonbar:hover {
    cursor: pointer;
	color: white;
	text-shadow: 10px 10px 10px black;

	
}