body {
    color: rgb(130, 130, 131);
    font-family: Century Gothic, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;   
}

.whiteText {
    color: white;
    opacity: 0.9;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;    
}


.grayText {
    color: white;
    opacity: 0.8;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;   
	width: 200px; 
	position: relative;
	top: 680px;
	left: 10px;
}

