/* You can add global styles to this file, and also import other style files */
    html {
        background-color: black;
        background-image: url("/assets/backgroundbw.jpg");
        background-repeat: no-repeat;
        background-position: center top; 
    }